<h1>{{model.fullName}}</h1>

<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src={{model.image}}>
      <div class="caption">
        <h3>{{model.fullName}}</h3>
        <p>{{markdown-to-html model.bio}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="well well-lg">

        {{#filter-panel as |isExpanded|}}
          {{#if language}}
            {{text-chip text=language action=(action "reset" "language")}}
          {{/if}}
          {{#if discipline}}
            {{text-chip text=discipline action=(action "reset" "discipline")}}
          {{/if}}
          {{#if level}}
            {{text-chip text=level action=(action "reset" "level")}}
          {{/if}}
          {{#if years}}
            {{text-chip text=years action=(action "reset" "years")}}
          {{/if}}
          {{#filter-panel-content isVisible=isExpanded}}
            <div class="col-md-12 filter-panel-keys">
              <ul>
                <li><h4>Languages</h4></li>
                {{#each model.languages as |language| }}
                  <li>
                    {{#link-to 'employee' (query-params language=language.name)}}{{language.name}}{{/link-to}}
                  </li>
                {{/each}}
              </ul>
              <ul>
                <li><h4>Disciplines</h4></li>
                {{#each model.disciplines as |discipline| }}
                  <li>
                    {{#link-to 'employee' (query-params discipline=discipline.name)}}{{discipline.name}}{{/link-to}}
                  </li>
                {{/each}}
              </ul>
              <ul>
                <li><h4>Level</h4></li>
                <li>
                  {{#link-to 'employee' (query-params level='Beginner')}}Beginner{{/link-to}}
                </li>
                <li>
                  {{#link-to 'employee' (query-params level='Intermediate')}}Intermediate{{/link-to}}
                </li>
                <li>
                  {{#link-to 'employee' (query-params level='Expert')}}Expert{{/link-to}}
                </li>
              </ul>
              <ul>
                <li><h4>Years of Experience</h4></li>
                <li>
                  {{#link-to 'employee' (query-params years='less-than-a-year')}}Less than a year{{/link-to}}
                </li>
                <li>
                  {{#link-to 'employee' (query-params years='between-1-and-5-years')}}Between 1 and 5 years{{/link-to}}
                </li>
                <li>
                  {{#link-to 'employee' (query-params years='more-than-5-years')}}More than 5 years{{/link-to}}
                </li>
              </ul>
            </div>
          {{/filter-panel-content}}
        {{/filter-panel}}
        {{skill-list skills=filteredSkills from=startedFrom}}
      </div>
    </div>
  </div>
</div>
